
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="modal-body">
    <label>
        Ertan Osmanoğlu
    </label>
    <br />
    <br />
    <label>ertanosmanoglu13@gmail.com</label>
    <br />

</div>



